<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    </head>
    <body>
        <form action="./loginGet" method="GET">
            <table>
                <tr>
                    <td>账号</td>
                    <td><input type="text" name="username" /></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><input type="text" name="password" /></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Submit"/>
                    </td>
                </tr>
            </table>
        </form>
        <form action="./loginPost" method="POST">
            <table>
                <tr>
                    <td>账号</td>
                    <td><input type="text" name="username" /></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><input type="text" name="password" /></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Submit"/>
                    </td>
                </tr>
            </table>
        </form>
        <img src="./showImage"/>
    </body>
    
    

</html>